    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    
    header {
        padding: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: rgba(155, 155, 155, .5);
        color: #ffffff;
    }
    
    header h1 {
        display: inline-block;
        font-size: 48px;
        color: #002a5a;
    }
    
    header nav {
        padding-top: 15px;
        margin-right: 20px;
        float: right;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        list-style-type: none;
    }
    
    header nav ul li {
        display: inline-block;
        margin-left: 25px;
    }
    
    h3 {
        color: rgb(6, 77, 184, .7);
        font-weight: bolder;
        font-size: 30px;
        clear: both;
        float: left;
        width: 20%;
        border: 20px dashed rgb(33, 112, 165);
        border-bottom: none;
        border-left: none;
        border-top: none;
        margin-right: 20px;
        height: 100%;
        background-color: #b8d699;
    }
    
    a {
        color: #ffffff;
        text-decoration: none;
    }
    
    p {
        font-size: 16px;
    }
    
    body {
        background-color: #b8d699;
    }
    
    .subtitle {
        text-align: right;
        display: inline-block;
    }
    /*image is spread across the top of the page*/
    
    .coding {
        height: 300px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("../images/codingImage.jpg");
        background-size: cover;
        background-position: center;
    }
    /* .float-left {
float: left;
margin-right: 25px;
}

.float-right {
float: right;
margin-left: 25px;
} */
    
    .workImg {
        flex: 30%;
        display: right;
    }
    
    img {
        height: 400px;
        width: 50%;
        margin-bottom: 20px;
        background-position: right;
    }
    
    aside {
        margin-right: 20px;
        padding: 20px;
        clear: inline-end;
        float: left;
        width: 20%;
        height: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #b8d699;
    }
    
    .content {
        width: 75%;
        display: inline-block;
        margin-left: 20px;
    }
    
    .sideBorder {
        border-left: 15px;
        margin: 10px;
        padding: 5px;
    }
    
    .footer {
        padding: 30px;
        clear: both;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        background-color: #b8d699;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        padding-top: 10px;
        position: absolute;
        bottom: 0;
        flex: 30%;
        flex-shrink: 2;
    }
    
    .footer h2 {
        font-size: 20px;
        text-decoration: underline;
    }
    /* Tablets - header changes color */
    
    @media screen and (max-width: 992px) {
        header {
            background: #772014;
        }
    }
    /* Large smartphones - navbar changes color */
    
    @media screen and (max-width: 768px) {
        nav {
            background-color: #bb8588;
        }
    }
    /* Small smartphones - image placeholders change color */
    
    @media screen and (max-width: 576px) {
        .sample-img {
            background-color: #8ac4ff;
        }
    }